<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="CleverReach Extension Test Suite">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>

	<filter>
		<whitelist>
			<exclude>
				<directory>./assets</directory>
				<directory>./bin</directory>
				<directory>./languages</directory>
				<directory>./tests</directory>
				<directory>./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
